<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<appSettings>
    <add key="AWSProfileName" value="SES_User"/>
		<add key="AWSRegion" value="eu-west-1"/>
    <add key="AccessKey" value="AKIAICUCD4ABTJWOQVKA"/>
    <add key="SecretAccessKey" value="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"/>
    <add key="SmtpHost" value="localhost"/>
  <add key="myQueueURL" value="https://sqs.eu-west-2.amazonaws.com/991884140471/SQSEmail"/>
	</appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>

    <add name="EmailDbConnectionString" connectionString="Data Source=aldsdatastore.cpnavqt2gh8z.eu-west-2.rds.amazonaws.com,1433;initial catalog=SESEmail;User ID=aldsdb; Password=P!y1T*w76;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <!--<add name="DbConnectionString" connectionString="Data Source=169.50.81.54;initial catalog=SherlockTestDB;User ID=pdbuser;Password=ReuK5w9**;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
</configuration>
