<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DbConnectionString" connectionString="Data Source=INDRANI-PC;initial catalog=sherlock;User ID=sherlock; Password=Sherl0ck" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbConnectionString" connectionString="Data Source=.;initial catalog=Sherlock;User ID=sa; Password=ind@123;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbConnectionString" connectionString="Data Source=169.50.81.54;initial catalog=Sherlock;User ID=pdbuser; Password=ProDbuse*@*12;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />-->
    <add name="DbConnectionString" connectionString="Data Source=aldsdatastore.cpnavqt2gh8z.eu-west-2.rds.amazonaws.com,1433;initial catalog=Sherlock;User ID=aldsdb; Password=P!y1T*w76;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <!--<add name="DbConnectionString" connectionString="Data Source=169.50.81.54;initial catalog=SherlockTestDB;User ID=pdbuser;Password=ReuK5w9**;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbConnectionString" connectionString="Data Source=clicksearchdb.cf7bs5gztxna.eu-west-2.rds.amazonaws.com,1433;initial catalog=SherlockTestDB;User ID=pdbuser;Password=3#HF*6vgT5;MultipleActiveResultSets=True;Connect Timeout=0" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="TestEnviroment" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
